{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <p class="italic ...">The quick brown fox ...</p>
            <p class="not-italic ...">The quick brown fox ...</p>
        </div>
    </div>
{% endblock %}
